.add-cell-wrapper {
  width: 95%;
  position: relative;
  background-color: transparent;
  display: flex;
  justify-content: center;
  margin: 6px auto;
  opacity: 0;
  transition: opacity 0.3s ease-in 0.1s;
  opacity: 0.2;
}
.add-cell-wrapper:hover {
  opacity: 1;
}
.add-cell-wrapper .divider {
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: var(--grey);
  top: 50%;
  z-index: 1;
}
.add-cell-wrapper button {
  background: var(--light-grey);
  color: var(--white);
  border: none;
  cursor: pointer;
  border-radius: 60px;
  margin: 0 20px;
  z-index: 2;
  padding: 10px;
}
.add-cell-wrapper button:hover {
  transform: scale(1.1, 1.1);
  transition: 0.3s;
}
.add-cell-wrapper.force-visible {
  animation: forceVis 0.8s;
  opacity: 1;
}
@keyframes forceVis {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
