.add-thread-wrapper {
  min-height: 100vh;
}
.add-thread-wrapper form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem;
}
.add-thread-wrapper form button {
  border-radius: 4px;
  border: none;
  color: #ffffff;
  font-size: 0.9rem;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  background: var(--green);
  text-decoration: none;
}
.add-thread-wrapper form button[name='discard'] {
  background: var(--danger);
}
.button-wrapper {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}
.button-wrapper button {
  flex: 1;
}
