@import url('./normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');

:root {
  --black: hsl(225deg 9.52% 8.24%);
  --dark-grey: hsl(228deg 7.94% 12.35%);
  --grey: hsl(223.64deg 12.94% 16.67%);
  --light-grey: hsl(228deg 12.2% 40.2%);
  --white: #f7f7f7;
  --green: hsl(139.4117647059deg 58.6206896552% 54.5098039216%);
  --danger: hsl(354deg 70.5% 53.5%);
  --font-family: 'Montserrat', 'DejaVu Sans', 'Verdana', sans-serif;
  --border-gradient: #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #ff2400;
  --divider-gradient: #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3;
}
.root-layout {
  min-height: 100vh;
  background-color: var(--black);
  position: relative;
  font-family: var(--font-family);
  color: var(--white);
  display: flex;
  flex-direction: column;
}
* {
  margin: 0;
}
