.nav-sticky {
  position: sticky;
  top: 0;
  z-index: 20;
  border-bottom: 1px solid var(--grey);
  backdrop-filter: blur(10px);
  --webkit-backdrop-filter: blur(10px);
}
.scrolled {
  background-color: var(--black);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1rem;
}
.navbar > ul {
  padding: 0;
}
.logo {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.logo img {
  width: 24px;
  height: 20px;
}
.links {
  display: flex;
  align-items: center;
  list-style: none;
  height: 100%;
}
.links a {
  text-decoration: none;
  color: var(--white);
  padding: 0.5rem 1rem;
  background-color: transparent;
}
.links a:hover {
  background-color: var(--light-grey);
  transition: 0.3s;
}

.nav-buttons button:first-child:hover {
  background-color: #3eb363;
  transition: 0.3s;
}
.nav-buttons button:last-child {
  background: var(--light-grey);
}
.nav-buttons button:last-child:hover {
  background-color: #494c5c;
  transition: 0.3s;
}

@media screen and (max-width: 530px) {
  .links {
    font-size: 0.8rem;
  }
  .logo {
    font-size: 0.7rem;
  }
}
