.action-bar-wrapper {
  background-color: #37414b;
  display: flex;
  justify-content: flex-end;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: white;
  border-radius: 5px 5px 0 0;
  position: relative;
}
.action-bar-wrapper button:nth-child(-n + 3) {
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: white;
}
.action-bar-wrapper button:nth-child(4) {
  border-radius: 0 5px 0 0;
}
.action-bar-wrapper button {
  background: #fcaa2f;
  color: #ffffff;
  border: none;
  padding: 7px 14px;
  cursor: pointer;
  opacity: 0.5;
}
.action-bar-wrapper button:hover {
  background: #ffffff;
  color: #fcaa2f;
  opacity: 1;
  transition: 0.3s;
}

.mark {
  position: absolute;
  left: 15px;
  top: 8px;
  color: #ffffff;
}
