.editor-wrapper {
  background-color: transparent;
  padding: 1.5rem;
}
.md-wrapper {
  padding: 1.5rem;
  padding: 1.5rem;
  border-radius: 0.25rem;
  background-color: #37414b;
  box-shadow: 10px 15px 20px #362e4ac4;
}
.md-wrapper .wmde-markdown {
  background-color: #37414b;
}
.w-md-editor-bar svg {
  display: none;
}
.w-md-editor-bar {
  background-color: #37414b;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 10px;
  width: 100%;
  cursor: row-resize;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
}
.w-md-editor-toolbar {
  background-color: #37414b;
}
