.text-editor-wrapper {
  background-color: transparent;
  padding: 1.5rem;
}
.w-md-editor-bar svg {
  display: none;
}
.w-md-editor-bar {
  background-color: #37414b;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 10px;
  width: 100%;
  border-radius: 0 0 5px 5px;
  cursor: row-resize;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
}
.w-md-editor-toolbar {
  background-color: #37414b;
}
