.thread-item-wrapper {
  padding: 1.5rem;
  background-color: var(--grey);
  color: var(--white);
  height: 150px;
  width: 200px;
  border-radius: 10px;
}
.thread-item-wrapper h3 {
  margin-bottom: 2rem;
}
