.thread-item-wrapper {
  padding: 1.5rem;
  background-color: var(--grey);
  color: var(--white);
  height: 150px;
  width: 200px;
  overflow-y: auto;
  position: relative;
}
.thread-item-wrapper:hover {
  cursor: pointer;
  --angle: 0deg;
  border: 1px solid;
  border-image: conic-gradient(from var(--angle), var(--border-gradient)) 1;
  animation: rotate 10s linear infinite;
}
.thread-item-wrapper h3 {
  overflow-wrap: break-word;
  margin-bottom: 2rem;
}
.thread-item-wrapper p {
  overflow-wrap: break-word;
}

.thread-item-wrapper::-webkit-scrollbar {
  width: 5px;
}
.thread-item-wrapper::-webkit-scrollbar-thumb {
  width: 10px;
  height: 3px;
  background-color: var(--white);
  border-radius: 100px;
}
.thread-item-wrapper::-webkit-scrollbar-track {
  background-color: var(--light-grey);
}
.action-buttons {
  display: flex;
  position: absolute;
  top: 0;
  right: 5px;
  background: transparent;
}
.action-buttons button {
  background: transparent;
  color: var(--white);
  border: none;
  cursor: pointer;
}
.action-buttons button:hover {
  transform: scale(1.1);
  transition: 0.1s;
}
@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}
@keyframes rotate {
  to {
    --angle: 360deg;
  }
}
